$bgColorPrimary: #E8533A;
$bgColorSecundary: #ffd740;
$bgColorTertiary:#4CAF50;
$bgColorPlayer:#557175;
body {
    margin: 10;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}